@import '../App/reset.scss';

.search{
    padding: 50px 0;
    &__title{
        font-size: 38px;
        margin-bottom: 40px;
    }
    &__ph{
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__trevor{
        display: none;
    }
    input{
        width: 600px;
        height: 50px;
        border-radius: 30px;
        background-color: $white;
        color: #000;
        padding-left: 30px;
        font-size: 24px;
        margin-bottom: 60px;
    }
    &__button{
        display: block;
        height: 50px;
        border-radius: 30px;
        cursor: pointer;
        background-color: $orange;
        color: $white;
        width: 200px;
        font-size: 24px;
        transition: 0.3s all;
        &:focus, &:hover{
            background-color: $white;
            color: $orange;
        }
    }
    .container{
        display: flex;
        justify-content: space-between;
    }
    form{
        padding-top: 100px;
    }
}

@media screen and(max-width: 1300px) {
    .search{
        &__ph{
            width: 500px;
            height: 370px;
        }
    }
}

@media screen and(max-width: 1134px) {
    .search{
        padding: 30px 0;
        input{
            font-size: 18px;
            width: 350px;
            margin-bottom: 30px;
        }
        &__title{
            font-size: 32px;
            line-height: 36px;
        }
        &__ph{
            width: auto;
            height:  auto;
        }
    }
}


@media screen and(max-width: 767px) {
    .search{
        padding: 30px 0 0 0;
        &__ph{
            height: 300px;
            width: 250px;
            margin: 0 auto;
            img{
                &:first-child{
                    display: none;
                }
            }
        }
        &__trevor{
            display: block;
        }
        .container{
            display: block;
        }
        form{
            padding-top: 20px;
        }
        &__title{
            font-size: 28px;
            line-height: 32px;
            text-align: center;
        }
        input{
            width: 100%;
        }
        &__button{
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}


@media screen and(max-width: 550px) {
    .search{
        padding-top: 15px;
        &__title{
            font-size: 24px;
            margin-bottom: 20px;
        }
        input{
            font-size: 16px;
        }
        &__button{
            height: 40px;
            width: 150px;
        }
    }
}