@import '../../App/reset.scss';

.platform-info{
    padding: 100px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__text{
        width: 620px;
    }
    &__title{
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 50px;
    }
    &__ph{
        width: 600px;
        img{
            background-size: 100% 100%;
            height: auto;
            width: 100%;
            display: block;
            margin-bottom: 40px;
        }
    }
    &__description{
        font-size: 24px;
        line-height: 40px;
        font-family: 'Roboto', sans-serif;
        h2{
            margin-top: 20px;
        }
    }
    &__back{
        font-size: 32px;
        display: block;
        text-align: center;
        color: $white;
        opacity: .6;
        transition: 0.3s all;
        &:hover, &:focus{
            opacity: 1;
            transform: translateX(-20px);
        }
    }
}