@import '../App/reset.scss';

.progress{
    padding: 50px 0;
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 300px);
        gap: 25px;
        justify-content: center;
    }
    &__list{
        background: #140c20;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 7px 6px #2a1b41;
    }
    &__ph{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 30px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__name{
        text-align: center;
        margin-bottom: 30px;
    }
    &__description{
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    &__err{
        font-size: 18px;
        text-align: center;
    }
}

@media screen and(max-width: 1300px) {
    .progress{
        &__wrapper{
            display: flex;
            overflow: auto;
            justify-content: start;
            padding: 20px;
        }
        &__description{
            width: 300px;
        }
    }
}

@media screen and(max-width: 1134px) {
    .progress{
        &__ph{
            width: 150px;
            height: 150px;
            margin-bottom: 15px;
        }
        &__list{
            padding: 15px;
        }
        &__name{
            margin-bottom: 15px;
        }
        &__title{
            font-size: 28px;
        }
    }
}

@media screen and(max-width: 767px) {
    .progress{
        &__ph{
            width: 100px;
            height: 100px;
        }
        &__name{
            font-size: 20px;
        }
        &__wrapper{
            grid-template-columns: repeat(4, 270px);
        }
        &__list{
            padding: 10px;
        }
    }
}

@media screen and(max-width: 550px) {
    .progress{
        padding: 20px 0;
        &__title{
            font-size: 22px;
        }
        &__description{
            width: 244px;
        }
    }
}