@import '../App/reset.scss';

.developers{
    padding: 50px 0;
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 300px);
        gap: 25px;
    }
    &__list{
        background: #140c20;
        box-shadow: 0 0 7px 6px #2a1b41;
        border-radius: 20px;  
        overflow: hidden;
        padding-bottom: 20px;
    }
    &__ph{
        width: 100%;
        height: 330px;
        margin-bottom: 30px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__name{
        text-align: center;
    }
    &__err{
        text-align: center;
        font-size: 18px;
    }
}