@import '../App/reset.scss';

.developers{
    padding: 50px 0;
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 300px);
        gap: 25px;
    }
    &__list{
        background: #140c20;
        box-shadow: 0 0 7px 6px #2a1b41;
        border-radius: 20px;  
        overflow: hidden;
        padding-bottom: 20px;
    }
    &__ph{
        width: 100%;
        height: 330px;
        margin-bottom: 30px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__name{
        text-align: center;
    }
    &__err{
        text-align: center;
        font-size: 18px;
    }
}


@media screen and(max-width: 1300px) {
    .developers{
        padding: 30px 0;
        &__wrapper{
            display: flex;
            padding: 20px;
            overflow: auto;
            justify-content: start;
        }
        &__name{
            width: 300px;
        }
        &__list{
            overflow: initial;
        }
        &__ph{
            img{
                border-radius: 15px;
            }
        }
    }
}

@media screen and(max-width: 1134px) {
    .developers{
        &__ph{
            height: 250px;
        }
    }
}


@media screen and(max-width: 550px) {
    .developers{
        &__name{
            width: 265px;
        }
    }
}