@import '../App/reset.scss';

.filters{
    padding: 0 0 40px 0;
    &__title{
        font-size: 28px;
    }
    &__wrapper{
        padding: 10px 30px;
    }
    &__list{
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__platform{
        width: 30px;
        background: none;
        color: $white;
        border-bottom: 1px solid $orange;
        text-align: center;
        font-size: 16px;    
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
}